/* Reset browser
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    height: 100%;
    box-sizing: border-box;
}

*, *before, *after {
    box-sizing: inherit;
}

body {
    height: 100%;
    line-height: 1;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}
li {
    display: inline;
}

a img {
    border: none;
}

.main {
    display: inline !important;
}

.main_category{
    display: none;
}


#categories input + li ul {
    max-height: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

#categories input:checked + li ul {
    max-height: 1000px;
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;
}

#categories input + li ul li {
    max-height: 0;
    transition: all 0.2s;
}

#categories input:checked + li ul li {
    max-height: 600px;
    transition: all 0.2s;
}

/* =Global
-------------------------------------------------------------- */

body {

    color: #505050;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.8;
}

.clearer {
    clear: both;
}

/* =Template
-------------------------------------------------------------- */
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width: 100%;
    margin: 0 auto -100px;
}

#main {
    overflow: auto;
    background-color: #fff;
    padding-top: 150px; }

#content {
    min-width: 800px;
    margin-top: 50px;
    widht: 100%;
    height: auto;
}

.container {
    height: 100%;
    width: 86%;
    margin: 0 auto;
    padding: 0 30px;
}

.container_store {
    width: 80%;
    margin: 0 auto;
}
.container_store2 {
    float: left;
    width: 65%;
}

.container_login {
    width: 100%;
}

#login_head {
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: white;
    width: 85%;
    border-bottom: 0.1em solid #c0c0c0;
}

#login {
    box-shadow: 0em 0em 1em #888888;
    margin: 0 auto;
    width: 50%;
}

.container_store .container_element {
    float: left;
    width: 29%;
    margin: 2%;
    background-color: #fff;
    border: 1px solid #dcdcdc;
}

.right {
    float: right;
}
/* =Store
-------------------------------------------------------------- */

.container_element {
    display: inline-block;
    width: 50%;
    height: 150px;

    border: 1px solid black;
}

.item {
    margin: 5px;
    padding-left: 10px;
    width: 100%;
    min-width: 450px;
    height: 100px;

//border-radius: 3px;
    /*border: 0.1em solid #d3d3d3; */
    border-bottom: 0.1em solid #c0c0c0;
    float: right;
}
.item:hover {
    box-shadow: 0em 0em 1em #888888;
    border: none;
}
.image {
    /*background-image: url('../img/test.jpg'); */
    float: left;
    width: 15%;
    height: 80px;
}

.description {
    float: left;
    width: 60%;
    height: 80px;
    padding-top: 10px;
    padding-left: 10px;
}
.title {
    width: 100%;
    height: 40px;
    display: block;
    font-size: 20px !important;
}
.small_description {
    width: 100%;
    height: 40px;
    display: block;
    font-size: 14px !important;
}
.price {
    float: left;
    width: 15%;
    height: 80px;
    right: 0;
}
.cart {
    float: left;
    width: 5%;
}
.cart_img {
    margin-top: 35px;
    text-align: center;
}
.cart_img img {

}
.image, .price {
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
}

/* = Categories
-------------------------------------------------------------- */

#categories {
    float: left;
    width: 23%;
    padding-left: 7%;
}
#categories a{
    display: block;
    text-decoration: none;
    color: #1799b1;
}
#categories ul li ul {
    margin-left: 10%;
}

section {
    padding: 60px 0;
}
section h1 {
    font-weight: 700;
    margin-bottom: 10px;
}
section p {
    margin-bottom: 30px;
}
section p:last-child {
    margin-bottom: 0;
}
section.color {
    color: white;
}

#content_container {
    width: 20%;
    margin: 0 auto;
    height: auto;
}

/* = Homepage
-------------------------------------------------------------- */

#container_home {
    width: 100%;
}

#content_home {
    margin: 0 auto;
    width: 60%;
    height: 100%;
    min-height: 400px;
    border-top: 0.1em solid #c0c0c0;
    border-bottom: 0.1em solid #c0c0c0;
}

#content_home h1 {
    text-align: center;
}

/* =Blog
-------------------------------------------------------------- */
#container_blog {
    width: 100%;
}

#blog_head {
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: white;
    width: 85%;
    border-bottom: 0.1em solid #c0c0c0;
}

#content_blog {
    margin: 0 auto;
    width: 85%;
}

#new_blog {
    margin: 0 auto;
    margin-top: 50px;
    width: 85%;
    box-shadow: 0em 0em 1em #888888;
}

#new_blog h1 {
    text-align: center;
}

#new_blog form {


}

.blog_item {
    margin: 5px;
    width: 100%;
    min-width: 450px;
    min-height: 100px;
    border-bottom: 0.1em solid #c0c0c0;
    float: right;
}
.blog_item:hover {
    box-shadow: 0em 0em 1em #888888;
    border: none;
}

.blog_item_user {
    float: left;
    width: 15%;
}

.blog_item_post {
    float: left;
    width: 75%;
}

.blog_item_title {
    height: 20%;
}

.blog_item_text {

}

.blog_item_user, .blog_item_text {
    margin: 10px 0 0 10px;
}


/* = Register
-------------------------------------------------------------- */
#container_register {
    width: 100%;
}

#form_register {
    box-shadow: 0em 0em 1em #888888;
    margin: 0 auto;
    min-width: 410px;
    width: 50%;
}

#form_register_head {
    margin: 0 auto;
    width: 85%;
    border-bottom: 0.1em solid #c0c0c0;
}

/* =Header
    De header komt van internet aangezien we een verklein effect wilde
-------------------------------------------------------------- */
header {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #1799b1;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}
header h1#logo {
    display: inline-block;
    height: 150px;
    line-height: 150px;
    float: left;
    font-family: sans-serif;
    font-size: 40px;
    color: white;
    font-weight: 400;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
header nav {
    display: inline-block;
    float: right;
}
.nav_item {
    display: block;
    float:left;
    height: 100%;
    width: auto;
}
.nav_item:hover {
    float: left;
    background-color: #158A9F;

}
header nav a {
    text-decoration: none;
    line-height: 150px;
    margin: 0 10px 0 10px;
    color: #9fdbfc;
    font-family: sans-serif;
    font-size: 18px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
header nav a:hover {
    color: white;
}
header.smaller {
    height: 75px;
}
header.smaller h1#logo {
    width: 150px;
    height: 50px;
    line-height: 75px;
    font-size: 30px;
}
header.smaller nav a {
    line-height: 75px;
}

/* =Footer
-------------------------------------------------------------- */
footer {
    clear: both;
    background-color: #1799b1;

    margin-top: 30px;
    margin-bottom: 0;
    padding-top: 30px;
}

footer, .push {
    height: 100px;
}

#footer_container {
    color: white;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}




/* =Forms
-------------------------------------------------------------- */
.form-style {
    font: inherit;
    width: 80%;
    padding: 30px;
    margin: 50px auto;
}

.form-style ul{
    padding:0;
    margin:0;
    list-style:none;
}
.form-style ul li{
    display: block;
    margin-bottom: 20px;
    min-height: 35px;
}
.form-style ul li  .field-style{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 8px;
    outline: none;
    border: 1px solid #B0CFE0;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;

}.form-style ul li  .field-style:focus{
     box-shadow: 0 0 5px #B0CFE0;
     border:1px solid #B0CFE0;
 }
.form-style ul li .field-split{
    width: 49%;
}
.form-style ul li .field-full{
    width: 100%;
}
.form-style ul li input.align-left{
    float:left;
}
.form-style ul li input.align-right{
    float:right;
}
.form-style ul li textarea{
    width: 100%;
    height: 100px;
}
.form-style ul li input[type="button"],
.form-style ul li input[type="submit"] {
    background-color: #1799b1;
    display: inline-block;
    cursor: pointer;
    color: white;
    padding: 8px 18px;
    text-decoration: none;
    font: inherit;
}
.form-style ul li input[type="button"]:hover,
.form-style ul li input[type="submit"]:hover {
    background-color: #158A9F;
}

.form-style ul li label {
    width: 49%;
    float: left;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
textarea{
    font: inherit;
}

.order_container {
    position: relative;
    width: 100%;
    height: 10%;
    background-color: #158A9F;
    border: 1px ridge black; // kan je veranderen
}

a.fill_order_container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-decoration: none;
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
}

.order_container:hover {
    background-color: #4f5b66;
}
