/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5-feb-2015, 21:19:35
    Author     : Raymond Phua
*/
html, body {
    height: 100%;
    margin: 0;
}

#header {
  width: 100%;
  height: auto;
}

#headerLogo {
  margin: 0;
  padding: 0;
  height: auto;
  width: inherit;
  background: white;
}

#headerLogo img {
  width: 100px;
  height: 100px;
}

#headerImage {
    position: relative;
    background: white;
    height: 500px;
    width: 100%;
    overflow: hidden;
    
}

#headerImage img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  
  transform: translateX(-50%);
  
  width: auto;
  height: 100%;
}

.navbar {
    margin-top: 0px;
    width: 100%;
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: #8AD9FF;
}

.navbar ul {
    height: auto;
    
    margin-top: 0;
}

.navbar li {
    display: inline-block;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: #00F;
}

.navbar a:hover {
    background-color: #FF9898;
    color: white;
}

.content {
  
  
}
